# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**
- popular languages for Data Science
- data science tools
- data science libraries

Some of the popular languages that data scientist use are:

1. Python
2. R
3. Java
4. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. SciPy
3. Mathplotlib

In [ ]:
| Data Science Tools | 
| -------------|
| Rstudio |
| Apache Spark |
| Tensor FLow |

***Below are a few examples of evaluating arithmetic expressions in Python***

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Author**
Alex Hylton